ProjetoEscola/ProjetoEscola.ipynb*
ProjetoEscola/data_student-mat.csv*
ProjetoEscola/data_student-por.csv
ProjetoSangue/
.ipynb_checkpoints/
ProjetoBanco/T10_vTeste.py
ProjetoBanco/.ipynb_checkpoints/
